* {
    marigin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --button-height: 32px;
    --font-size: 14px;
    --button-background: white;
    --button-active-background: #eee;
    --border-radius: 4px;
    --color: #999;
    --border-color: #999;
    --border-color-hover: #4f4f4f;

}


body {
    font-size: var(--font-size);

}

.demo {
    min-height: 100px;
}

.sider {
    background: #333;
    width: 200px;
}

.sider.fade-enter, .sider.fade-leave-to {
    margin-left: -150px;
}

.footer {
    background: #ccc;
    height: 50px;
}

.header {
    background: #999;
    height: 100px;

}